.sliderTrackContainer--shelf{
    padding-bottom: 3rem;
}

.sliderLeftArrow--shelf, .sliderRightArrow--shelf{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #232541;
    border-radius: 4px;
    color: #232541;
}
.sliderLeftArrow--shelf{
    left: unset !important;
    right: calc(100% + 1.5rem) !important;
}

.sliderRightArrow--shelf{
    right: unset !important;
    left: calc(100% + 1.5rem) !important;
}
.sliderLeftArrow--shelf:hover, .sliderRightArrow--shelf:hover{
    background-color: #232541 !important;
    color: #fff;
}

.paginationDotsContainer--shelf{
    margin-bottom: 2rem;
}
.caretIcon{
    width: 15px;
    height: 15px;
}