.flexColChild--productCountCol{
    display: flex;
    align-items: center;
}
.flexRow--title-search :global(.vtex-store-components-3-x-container){
    padding-left: 0;
    padding-right: 0;
}
@media screen and (max-width:1024px) {
    .flexRow--title-search{
        background-color: #EEEEEE;
    }
}